 /* Paste in code from your old files to save time and avoid typos! */

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	background-color: red;
margin:0;
}
.p {
	background-image:url("2009.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.n{
	background-image: url("ten.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.g {
	background-image: url("preg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.k {
	background-image: url("twelve.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.vid {
	max-width: 100%;
	max-height: 100%;
}

.col1 {
	height: 100vh;
	width:50vw;
	display: flex;
	flex-wrap:wrap;
	background-color: green;
}

.blank-1 {
	height:calc(100vh/3);
	width:50vw;
	background-color: white;
    display: block;
	margin: auto;
	border:5px;
}
.blank-2{
	height: calc(100vh/3);
	width: 50vw;
	display: flex;
	margin: auto;
}

.blank-3 {
	height:calc(100vh/3);
	width:50vw;
	background-img:url("beylove5.mp4");
    	display: block;
	margin: auto;
	
}

.empty-1 {
	height:calc(100vh/3);
	width:50vw;
	background-color: yellow;
    display: block;
	margin: auto;
	border:5px;
}

.empty-2{
	height: calc(100vh/3);
	width: 50vw;
    display: block;
	margin: auto;
}

.empty-3 {
	height:calc(100vh/3);
	width:50vw;
	background-color: black;
    display: block;
	margin: auto;
}

.triangle-1 {
	height:50%;
	width:100%;
	background-color: black;
    display: block;
	margin: 0px;
}

.triangle-2 {
	height:50%;
	width:100%;
	background-color: black;
    display: block;
	margin: auto;
}


.square-1 {
	height:100%;
	width:50%;
	background-color: black;
    display: block;
	margin: auto;
	
}

.square-2 {
	height:100%;
	width:50%;
	background-color: black;
    display: block;
	margin: auto;
}

.diamond-1 {
		height:50%;
		width:100%;
		background-color: black;
		display: block;
		margin: 0px;
		background-image: 
}
.diamond-2 {
		height:50%;
		width:100%;
		background-color: black;
		display: block;
		margin: 0px;
		
}

/* change this image to the 2011 outfit */
.b2011 {
	content: url(img/polp2.png);
}

img {
	margin:auto;
	height: 100%;
	width: 100%
}

@media screen and (max-width: 800px) {

	body {
		height: 100vh;
		width: 100vw;
		display: block;
		margin:0;
	}
	
	.col1 {
	height: 100vh;
	width:100vw;
	display: flex;
	flex-wrap:wrap;
	background-color: green;
}


.blank-1 {
	height:calc(100vh/3);
	width:100vw;
	background-color: white;
    display: block;
	margin: auto;
	border:5px;
}
.blank-2{
	height: calc(100vh/3);
	width: 100vw;
	display: flex;
	margin: auto;
}

.blank-3 {
	height:calc(100vh/3);
	width:100vw;
	background-color: ;
    display: block;
	margin: auto;
}

.empty-1 {
	height:calc(100vh/3);
	width: 100vw;
	background-color: yellow;
    display: block;
	margin: auto;
	border:5px;
}

.empty-2{
	height: calc(100vh/3);
	width: 100vw;
    display: block;
	margin: auto;
}

.empty-3 {
	height:calc(100vh/3);
	width:100vw;
	background-color: black;
    display: block;
	margin: auto;
}

.triangle-1 {
	height:50%;
	width:100%;
	background-color: black;
    display: block;
	margin: 0px;
}

.triangle-2 {
	height:50%;
	width:100%;
	background-color: black;
    display: block;
	margin: auto;
}


.square-1 {
	height:100%;
	width:100%;
	background-color: black;
    display: block;
	margin: auto;
}

.square-2 {
	height:110%;
	width:100vw;
	background-color: black;
    display: block;
	margin: auto;
}

.diamond-1 {
		height:50%;
		width:100%;
		background-color: black;
		display: block;
		margin: 0px;
}
.p {
	background-image:url("2009.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.n {
	background-image: url("ten.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.g {
	background-image: url("preg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.k {
	background-image: url("twelve.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px 150px;
}
.diamond-2 {
		height:50%;
		width:100%;
		background-color: black;
		display: block;
		margin: 0px;
}
}
